/* line 6, ../sass/guild.scss */
.gh-photo {
  position: relative;
  height: 322px; }
  /* line 9, ../sass/guild.scss */
  .gh-photo .edit-photo {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 238px;
    height: 238px;
    background: #f8f8f8 url(../images/default_photo.png) center center no-repeat;
    border: 1px solid #E5E5E5;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center; }
  /* line 21, ../sass/guild.scss */
  .gh-photo .preview-photo {
    position: absolute;
    left: 260px;
    top: 45px;
    width: 118px;
    height: 118px;
    background: #F8F8F8;
    border: 1px solid #E5E5E5; }
  /* line 30, ../sass/guild.scss */
  .gh-photo .preview-title {
    position: absolute;
    left: 260px;
    top: 20px;
    width: 118px; }
  /* line 36, ../sass/guild.scss */
  .gh-photo .sub-photop {
    position: absolute;
    left: 260px;
    top: 185px; }
    /* line 40, ../sass/guild.scss */
    .gh-photo .sub-photop .btn {
      padding: 0;
      width: 118px; }
  /* line 45, ../sass/guild.scss */
  .gh-photo .info {
    position: absolute;
    left: 260px;
    top: 231px;
    font-size: 14px;
    color: #999; }
  /* line 52, ../sass/guild.scss */
  .gh-photo .form {
    position: absolute;
    left: 0px;
    top: 260px; }

/* line 58, ../sass/guild.scss */
.title {
  height: 30px; }

/* line 61, ../sass/guild.scss */
.textarea-con {
  position: relative; }
  /* line 63, ../sass/guild.scss */
  .textarea-con textarea {
    padding: 5px;
    height: 188px;
    width: 908px;
    border: 1px solid #E5E5E5; }
  /* line 69, ../sass/guild.scss */
  .textarea-con .count {
    position: absolute;
    right: 11px;
    bottom: 11px;
    color: #999; }

/* line 76, ../sass/guild.scss */
.gh-url {
  width: 908px;
  border: 1px solid #E5E5E5;
  margin-bottom: 10px; }
  /* line 80, ../sass/guild.scss */
  .gh-url p {
    word-break: break-all;
    color: #666;
    line-height: 24px;
    padding: 16px 15px 16px 19px; }

/* line 87, ../sass/guild.scss */
.form {
  text-align: center;
  clear: both; }
  /* line 88, ../sass/guild.scss */
  .form .btn {
    margin-top: 40px; }

/* line 90, ../sass/guild.scss */
.form-field {
  line-height: 36px;
  margin-bottom: 10px;
  clear: both; }
  /* line 96, ../sass/guild.scss */
  .form-field input {
    line-height: 20px;
    padding: 7px 8px;
    border: 1px solid #E5E5E5; }
  /* line 101, ../sass/guild.scss */
  .form-field .input-name {
    width: 400px; }
  /* line 107, ../sass/guild.scss */
  .form-field .form-label {
    float: left;
    display: inline-block;
    line-height: 36px;
    width: 80px; }
  /* line 113, ../sass/guild.scss */
  .form-field .radio-form {
    width: 200px;
    float: left; }
    /* line 116, ../sass/guild.scss */
    .form-field .radio-form label {
      display: inline-block;
      width: 200px; }

/* line 121, ../sass/guild.scss */
.gh-set .form {
  text-align: left; }

  .gh-banner {
  position: relative;
  height: 644px; }
  .gh-banner .edit-banner {
    padding-bottom: 10px;
  }
  