.tb {
	width: 100%;
	border: 1px solid #E5E5E5;
	font-size: 16px
}

.tb th, .tb td {
	height: 32px;
	padding: 10px;
	border-bottom: 1px solid #E5E5E5;
	text-align: left;
	font-weight: 400
}

.tb td {
	color: #666
}

.tb thead th {
	background-color: #F8F8F8
}

.tb .order {
	cursor: pointer
}

.tb .order .icon-order {
	position: relative;
	top: -1px;
	margin-left: 6px
}

.tb .selected {
	background-color: #FAFFFC
}

.tb .dropdown .dropdown-toggle {
	width: 36px;
	height: 32px;
	border: 1px solid #fff;
	border-bottom: 0 none;
	border-radius: 3px 3px 0 0
}

.tb .dropdown .dropdown-toggle .icon {
	float: left;
	margin: 7px 0 0 7px
}

.tb .dropdown .dropdown-menu {
	top: 32px;
	background-color: #FAFAFA;
	border: 1px solid #C6C6C6;
	border-radius: 3px 0 3px 3px
}

.tb .dropdown .dropdown-menu a {
	min-width: 116px;
	_width: expression(this.width < 116 ? "116px" : "auto");
	height: 52px;
	line-height: 52px;
	padding: 0 20px;
	color: #333;
	text-align: center;
	white-space: nowrap
}

.tb .dropdown .dropdown-menu a:hover {
	background-color: #F5F5F5
}

.tb .dropdown.open .dropdown-toggle {
	position: relative;
	z-index: 1;
	background-color: #FAFAFA;
	border-color: #C6C6C6
}

.pagination-wrap {
	border: 1px solid #E5E5E5;
	border-top: 0 none;
	text-align: right;
	padding: 11px 19px
}

.Zebra_DatePicker *, .Zebra_DatePicker *:after, .Zebra_DatePicker *:before
	{
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important
}

.Zebra_DatePicker {
	position: absolute;
	background: #FFF;
	border: 1px solid #999;
	z-index: 100;
	padding: 5px
}

.Zebra_DatePicker * {
	margin: 0;
	padding: 0;
	color: #373737;
	background: transparent;
	border: none
}

.Zebra_DatePicker table {
	border-collapse: collapse;
	border-spacing: 0;
	width: auto;
	table-layout: auto
}

.Zebra_DatePicker td, .Zebra_DatePicker th {
	text-align: center;
	padding: 5px 0
}

.Zebra_DatePicker td {
	cursor: pointer
}

.Zebra_DatePicker .dp_daypicker, .Zebra_DatePicker .dp_monthpicker,
	.Zebra_DatePicker .dp_yearpicker {
	margin-top: 3px
}

.Zebra_DatePicker .dp_daypicker td, .Zebra_DatePicker .dp_daypicker th,
	.Zebra_DatePicker .dp_monthpicker td, .Zebra_DatePicker .dp_yearpicker td
	{
	width: 30px
}

.Zebra_DatePicker, .Zebra_DatePicker .dp_header .dp_hover,
	.Zebra_DatePicker td.dp_selected, .Zebra_DatePicker .dp_footer .dp_hover,
	.Zebra_DatePicker td.dp_hover {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.Zebra_DatePicker.dp_visible {
	visibility: visible;
	filter: alpha(opacity = 100);
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	transition: opacity 0.2s ease-in-out
}

.Zebra_DatePicker.dp_hidden {
	visibility: hidden;
	filter: alpha(opacity = 0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0
}

.Zebra_DatePicker .dp_header .dp_previous, .Zebra_DatePicker .dp_header .dp_next
	{
	width: 30px
}

.Zebra_DatePicker .dp_header .dp_caption {
	font-weight: bold
}

.Zebra_DatePicker .dp_header .dp_hover {
	background: #DEDEDE;
	color: #373737
}

.Zebra_DatePicker .dp_daypicker th {
	font-weight: bold
}

.Zebra_DatePicker td.dp_not_in_month {
	color: #DEDEDE;
	cursor: default
}

.Zebra_DatePicker td.dp_weekend_disabled {
	color: #DEDEDE;
	cursor: default
}

.Zebra_DatePicker td.dp_selected {
	background: #E43601 !important;
	color: #fff !important
}

.Zebra_DatePicker td.dp_week_number {
	cursor: text;
	font-weight: bold
}

.Zebra_DatePicker .dp_monthpicker td {
	width: 33%
}

.Zebra_DatePicker .dp_yearpicker td {
	width: 33%
}

.Zebra_DatePicker .dp_footer {
	margin-top: 3px
}

.Zebra_DatePicker td.dp_current {
	color: #e43601
}

.Zebra_DatePicker td.dp_disabled_current {
	color: #3a87ad
}

.Zebra_DatePicker td.dp_disabled {
	color: #DEDEDE;
	cursor: default
}

.Zebra_DatePicker td.dp_hover {
	background: #dedede
}

button.Zebra_DatePicker_Icon {
	display: block;
	position: absolute;
	width: 20px;
	height: 17px;
	background: url("../images/calendar.png") no-repeat left top;
	text-indent: -9000px;
	border: none;
	cursor: pointer;
	padding: 0;
	line-height: 0;
	vertical-align: top
}

button.Zebra_DatePicker_Icon_Disabled {
	background-image: url("../images/calendar-disabled.png")
}

button.Zebra_DatePicker_Icon {
	margin: 0 0 0 3px
}

button.Zebra_DatePicker_Icon_Inside {
	margin: 0 0 0 -9px
} /*
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.1.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/
.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	zoom: 1;
	*display: inline;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}

.chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 1010;
	min-width: 100%;
	_width: auto;
	border: 1px solid #E5E5E5;
	background: #fff;
	margin-top: -1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.chosen-container.chosen-with-drop .chosen-drop {
	left: 0
}

.chosen-container a {
	cursor: pointer
}

.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #E5E5E5;
	background-color: #fff;
	color: #333;
	text-decoration: none;
	white-space: nowrap
}

.chosen-container-single .chosen-default {
	color: #999
}

.chosen-container-single .chosen-single span {
	display: block;
	overflow: hidden;
	margin-right: 26px;
	text-overflow: ellipsis;
	white-space: nowrap
}

.chosen-container-single .chosen-single-with-deselect span {
	margin-right: 38px
}

.chosen-container-single .chosen-single abbr {
	position: absolute;
	top: 6px;
	right: 26px;
	display: block;
	width: 12px;
	height: 12px;
	background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
	font-size: 1px
}

.chosen-container-single .chosen-single abbr:hover {
	background-position: -42px -10px
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
	background-position: -42px -10px
}

.chosen-container-single .chosen-single div {
	position: absolute;
	top: 14px;
	right: 8px;
	display: block;
	width: 10px;
	height: 5px
}

.chosen-container-single .chosen-single div b {
	display: block;
	width: 10px;
	height: 5px;
	background: url("../images/chosen-sprite.png") no-repeat 0px 0
}

.chosen-container-single .chosen-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	padding: 3px 4px;
	white-space: nowrap
}

.chosen-container-single .chosen-search input[type="text"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	width: 100%;
	height: auto;
	outline: 0;
	border: 1px solid #aaa;
	background: #fff url("../images/chosen-sprite.png") no-repeat 100% -20px;
	background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
	font-size: 1em;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search
	{
	position: absolute;
	left: -9999px
}

.chosen-container .chosen-results {
	position: relative;
	max-height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	list-style: none
}

.chosen-container .chosen-results li {
	height: 34px;
	line-height: 34px;
	padding: 0 8px;
	white-space: nowrap;
	-webkit-transition: background-color 0.15s ease;
	-moz-transition: background-color 0.15s ease;
	-ms-transition: background-color 0.15s ease;
	-o-transition: background-color 0.15s ease;
	transition: background-color 0.15s ease
}

.chosen-container .chosen-results li.active-result {
	cursor: pointer
}

.chosen-container .chosen-results li.disabled-result {
	display: list-item;
	color: #ccc;
	cursor: default
}

.chosen-container .chosen-results li.highlighted {
	background-color: #F8F8F8
}

.chosen-container .chosen-results li.no-results {
	display: list-item;
	background: #f4f4f4
}

.chosen-container .chosen-results li.group-result {
	display: list-item;
	font-weight: bold;
	cursor: default
}

.chosen-container .chosen-results li.group-option {
	padding-left: 15px
}

.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline
}

.chosen-container-multi .chosen-choices {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 36px;
	height: auto !important;
	height: 1%;
	border: 1px solid #E5E5E5;
	background-color: #fff;
	cursor: text
}

.chosen-container-multi .chosen-choices li {
	float: left;
	list-style: none
}

.chosen-container-multi .chosen-choices li.search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]
	{
	margin: 1px 0;
	padding: 8px;
	height: 16px;
	outline: 0;
	border: 0 !important;
	background: transparent !important;
	box-shadow: none;
	color: #666;
	font-size: 100%;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0
}

.chosen-container-multi .chosen-choices li.search-field .default {
	color: #999
}

.chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 6px 0 0 5px;
	padding: 3px 20px 3px 5px;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #e4e4e4;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4),
		color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8),
		color-stop(100%, #eee));
	background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%
		);
	background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
	background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-clip: padding-box;
	box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333;
	line-height: 13px;
	cursor: default
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close
	{
	position: absolute;
	top: 4px;
	right: 3px;
	display: block;
	width: 12px;
	height: 12px;
	background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
	font-size: 1px
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover
	{
	background-position: -42px -10px
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
	padding-right: 5px;
	border: 1px solid #ccc;
	background-color: #e4e4e4;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4),
		color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8),
		color-stop(100%, #eee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee
		100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee
		100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%
		);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%
		);
	color: #666
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
	background: #d4d4d4
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close
	{
	background-position: -42px -10px
}

.chosen-container-multi .chosen-results {
	margin: 0;
	padding: 0
}

.chosen-container-multi .chosen-drop .result-selected {
	display: list-item;
	color: #ccc;
	cursor: default
}

.chosen-container-active.chosen-with-drop .chosen-single div {
	border-left: none;
	background: transparent
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -15px 0
}

.chosen-container-active .chosen-choices li.search-field input[type="text"]
	{
	color: #111 !important
}

.chosen-disabled {
	opacity: 0.5 !important;
	cursor: default
}

.chosen-disabled .chosen-single {
	cursor: default
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
	cursor: default
}

.chosen-rtl {
	text-align: right
}

.chosen-rtl .chosen-single {
	overflow: visible;
	padding: 0 8px 0 0
}

.chosen-rtl .chosen-single span {
	margin-right: 0;
	margin-left: 26px;
	direction: rtl
}

.chosen-rtl .chosen-single-with-deselect span {
	margin-left: 38px
}

.chosen-rtl .chosen-single div {
	right: auto;
	left: 3px
}

.chosen-rtl .chosen-single abbr {
	right: auto;
	left: 26px
}

.chosen-rtl .chosen-choices li {
	float: right
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
	direction: rtl
}

.chosen-rtl .chosen-choices li.search-choice {
	margin: 3px 5px 3px 0;
	padding: 3px 5px 3px 19px
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
	right: auto;
	left: 4px
}

.chosen-rtl.chosen-container-single-nosearch .chosen-search, .chosen-rtl .chosen-drop
	{
	left: 9999px
}

.chosen-rtl.chosen-container-single .chosen-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0
}

.chosen-rtl .chosen-results li.group-option {
	padding-right: 15px;
	padding-left: 0
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div
	{
	border-right: none
}

.chosen-rtl .chosen-search input[type="text"] {
	padding: 4px 5px 4px 20px;
	background: #fff url("../images/chosen-sprite.png") no-repeat -30px
		-20px;
	background: url("../images/chosen-sprite.png") no-repeat -30px -20px;
	direction: rtl
}

.chosen-rtl.chosen-container-single .chosen-single div b {
	background-position: 6px 2px
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b
	{
	background-position: -12px 2px
}

em {
	font-style: normal
}

.filter-bar .st-type, .filter-bar .chosen-container {
	width: 116px;
	margin-right: 40px
}

.filter-bar .st-type .chosen-single, .filter-bar .chosen-container .chosen-single
	{
	width: 108px
}

.filter-bar .begin-time, .filter-bar .end-time {
	width: 132px;
	margin-right: 20px
}

.filter-bar .scope-min, .filter-bar .scope-max {
	width: 100px;
	margin-right: 20px
}

.filter-bar .scope-min {
	margin-right: 10px
}

.filter-bar .int-search {
	width: 232px;
	margin-right: 10px
}

.filter-bar .btn-link {
	margin-left: 10px
}