.tb {
    width: 100%;
    border: 1px solid #E5E5E5;
    font-size: 16px
}

.tb th, .tb td {
    height: 32px;
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
    text-align: left;
    font-weight: 400
}

.tb td {
    color: #666
}

.tb thead th {
    background-color: #F8F8F8
}

.tb .order {
    cursor: pointer
}

.tb .order .icon-order {
    position: relative;
    top: -1px;
    margin-left: 6px
}

.tb .selected {
    background-color: #FAFFFC
}

.tb .dropdown .dropdown-toggle {
    width: 36px;
    height: 32px;
    border: 1px solid #fff;
    border-bottom: 0 none;
    border-radius: 3px 3px 0 0
}

.tb .dropdown .dropdown-toggle .icon {
    float: left;
    margin: 7px 0 0 7px
}

.tb .dropdown .dropdown-menu {
    top: 32px;
    background-color: #FAFAFA;
    border: 1px solid #C6C6C6;
    border-radius: 3px 0 3px 3px
}

.tb .dropdown .dropdown-menu a {
    min-width: 116px;
    _width: expression(this.width < 116 ? "116px" : "auto");
    height: 52px;
    line-height: 52px;
    padding: 0 20px;
    color: #333;
    text-align: center;
    white-space: nowrap
}

.tb .dropdown .dropdown-menu a:hover {
    background-color: #F5F5F5
}

.tb .dropdown.open .dropdown-toggle {
    position: relative;
    z-index: 1;
    background-color: #FAFAFA;
    border-color: #C6C6C6
}