    <style>
        .fa{
            position: absolute;
            left:30px;
            top: 14px;
            font-size: 1.4em;
        }
        dt:hover{
            cursor: pointer;
        }
    </style>
    <!-- 左侧栏 begin -->
    <div class="sidebar">
        <dl class="nav">
            <dt class="nav-hd">
                <i class="fa fa-jpy"></i>管理员管理
            </dt>
            <dd class="nav-bd hide">
                <a class="current" href="@{Admins.list}">管理员列表</a>
            </dd>
        </dl>

        <dl class="nav">
            <dt class="nav-hd">
                <i class="fa fa-jpy"></i>XXX管理
            </dt>
            <dd class="nav-bd hide">
                <a>XXX</a>
                <a class="" href="">YYY</a>
                <a href="">ZZ</a>
            </dd>
        </dl>
    </div>
    <!-- 左侧栏 end -->
